
<div class="card w-100 my-5">


    <div class="container card-body">
        <div class="container">
          <div class="row text-center">
            <h5 class="card-title">
                <h1>{{ page_title }}</h1>
            </h5>
           </div>
           <hr>
           <div class="row text-center">
            Pon tus dudas, aprende y ayuda a tus compañeros desarrolladores


           </div>
           <div class="row my-2">
               <div class="col">
    
                <button class="btn btn-outline-primary w-100 my-1">
    
                    <div class="row align-items-center">
    
                        <div class="col-2 d-none d-md-block">
    
                            <img src="assets/topics.svg"  width="32" alt="question">
    
                        </div>
    
                        <div class="col-10 text-center col-md-10">
                                Ver temas
    
                        </div>
    
                    </div>
    
                </button>
    
               </div>
               <div class="col">
    
                <button class="btn btn-outline-success w-100 my-1">
    
                    <div class="row align-items-center">
    
                        <div class="col-2 d-none d-md-block">
    
                            <img src="assets/friends.svg"  width="32" alt="friends">
    
                        </div>
    
                        <div class="col-10 text-center col-md-10">
                                Ver Compañeros
    
                        </div>
    
                    </div>
    
                </button>
    
               </div>
               <div class="col">
    
                <button class="btn btn-outline-warning w-100 my-1">
    
                    <div class="row align-items-center">
    
                        <div class="col-2 d-none d-md-block">
    
                            <img src="assets/newTopics.svg"  width="32" alt="question">
    
                        </div>
    
                        <div class="col-10 text-center col-md-10">
                                Nuevo Temas
    
                        </div>
    
                    </div>
    
                </button>
    
               </div>
           </div>
        </div>
      </div>
  </div>


