.navbar-primary {
  position: sticky;
  top: 0;

}

.content-primary {
  width: 98%;
  margin-top: 25px;
  margin: 0 auto;
  /* background-color: brown; */
}
.content-second{
  margin-top: 10px;
 
  bottom:-100px;


}
